#myHeader{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-family: sans-serif ;
    font-weight: bold;

}

body {
    background-color: lightgrey;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding: 5px;

}

#myName{
    text-align: center;
    color: black;
    border: 3px solid #0000ff;

      overflow: hidden;
      top: 50%;
  text-overflow: clip;

}

